:root {
    
    /* sizes */
    --width: 240px;
    --height: 320px;

    /* --width: 320px;
    --height: 240px; */

    /* others */
    --transition-length: 1s;
}

body, input {
	color: var(--text-color);
    font-family: 'open sans','noto sans',sans-serif;
}
body {
    margin: 0;
    /* background: var(--background-color); */
	background-color: transparent;
    /* overflow: hidden; */
}

#alertMessage {
    transition: transform 0.1s;
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    width: 90%;
    padding: 5px 5%;
    height: auto;
    z-index: 100;
    background: rgba(37,37,37,0.75);
}