:root {
    --highest-zindex: 100;
}

.bottom-sub-info {
	bottom: 0;
	font-size: 10px;
	position: absolute;
}
.bottom-sub-info.show-during-gameplay-only {
	display: none;
}
body.ready:not(.ended) .bottom-sub-info.show-during-gameplay-only {
    display: unset;
}

.bottom-sub-info-left {left: 0}
.bottom-sub-info-right {right: 0; text-align: right;}

.screen {
    z-index: var(--highest-zindex);
}

/*specific*/
#offset-display {
	z-index: calc(var(--highest-zindex) + 10);
}