.bottom-sub-info {
	bottom: 0;
	font-size: 11px;
	position: absolute;
	z-index: 2;
}
.bottom-sub-info.show-during-gameplay-only {
	display: none;
}
body.ready:not(.ended) .bottom-sub-info.show-during-gameplay-only {
    display: unset;
}

.bottom-sub-info-left {left: 0}
.bottom-sub-info-right {right: 0; text-align: right;}

.screen {
    z-index: 1;
}

body.paused .hidden-on-paused {
	display: none;
}