:root {
    --song-info-height: 0.28;
	--not-song-list-background: var(--background-color-o50);
}
/* background */
#song-background {
	z-index: -1;
	object-fit: cover;
	filter: blur(10px);
	opacity: 0.4;
	width: 110%;
	height: 110%;
}

#screen:not(.optionsMenuShowing) #navbar,
#main-screen .header {
	background-color: var(--not-song-list-background);
}

/* song info */
#song-info {
    height: calc((var(--height) - var(--header-height) - var(--navbar-height)) * var(--song-info-height));
    position: relative;
    font-size: 12px;
	background-color: var(--not-song-list-background);
}
#song-info > div {
    white-space: nowrap;
    overflow: hidden;
}
.song-info-text {
	padding: 0 3%;
	position: relative;
}
.song-info-text::before {
	left: 0;
	--bg-rot: 90deg;
}
.song-info-text::after {
	right: 0;
	--bg-rot: -90deg;
}
.song-info-text > span {
	display: inline-block;
}
#song-info-title {font-size: 16px;}
#song-info-img-container {
    height: calc((var(--height) - var(--header-height) - var(--navbar-height)) * var(--song-info-height));
    width: calc((var(--height) - var(--header-height) - var(--navbar-height)) * (var(--song-info-height) * 1.25));
    position: relative;
    float: left;
	/* padding-right: 3%; */
}
#song-info-img {
    object-fit: cover;
}
#song-info-img-throbber {
    z-index: -1;
}
#song-info-misc img {
	height: 11px;
}
#song-info-misc > span:not(.last) {margin-right: 5px}

/* song select */
#song-select-list {
	position: relative;
	--entry-box-height: 22px;
}
#song-select-list div.menu-entry {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height: var(--entry-box-height);
}
#song-select-list div.menu-entry:focus {
	background: unset;
}

    /* an underlay */
#song-select-list div.select-underlay {
	width: 100%;
	height: var(--entry-box-height);
	background: linear-gradient(90deg, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0) 100%);
}

#song-select-list > .menu > .menu-entry.menu-seperator::before {
	content: "";
	--size: 12px;
	width: var(--size);
	height: var(--size);
	background-image: url('/img/folder.png');
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
}

/* song difficulty */
:root {
	--difficulty-color-0: #6ffcfc;
	--difficulty-color-1: #b5fc6f;
	--difficulty-color-2: #fcfc6f;
	--difficulty-color-3: #fc6ffc;
	--difficulty-color-4: #9402fc;
	--difficulty-color-5: #fff;
	--diff-color: #fff;
}
.difficulty-lv0 {--diff-color: var(--difficulty-color-0)}
.difficulty-lv1 {--diff-color: var(--difficulty-color-1)}
.difficulty-lv2 {--diff-color: var(--difficulty-color-2)}
.difficulty-lv3 {--diff-color: var(--difficulty-color-3)}
.difficulty-lv4 {--diff-color: var(--difficulty-color-4)}
.difficulty-lv5 {--diff-color: var(--difficulty-color-5)}

.difficulty {
    --left-border-size: 5px;
    border-left-width: var(--left-border-size);
    border-left-style: solid;
    border-left-color: var(--diff-color);
    position: relative;
    /* width: calc(100% - var(--left-border-size)); */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}
.difficulty::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	opacity: 0.45;
}
.difficulty:focus {background: none;}
.difficulty:focus::before {background: linear-gradient(90deg, var(--diff-color) 0%, rgba(0,0,0,0) 100%);}
.difficulty-indicator {
    text-align: right;
}

/* song difficulty summary */
.song-info-difficulty-summary-container {
	--inner-size: 16px;
	--border-width: 2px; /* additional to --size */
	--whole-size: calc(var(--inner-size) + (var(--border-width) * 2));
	height: var(--whole-size);
	margin-top: 2px;
}
.difficulty-summary-entry {
	height: var(--inner-size);
	width: var(--inner-size);
	border-radius: calc(var(--whole-size) / 2);
	border-color: var(--diff-color);
	border-width: var(--border-width);
	border-style: solid;
	font-size: calc(var(--inner-size) * 0.75);
	text-align: center;
	margin-right: 2px;
	display: inline-block;
}

/* list for selecting stuff */
.selection {
    height: calc((var(--height) - var(--header-height) - var(--navbar-height)) * (1 - var(--song-info-height)));
	overflow-x: hidden;
    position: relative;
	
	--right-sc-hide: 50vw;
}
.selection div.menu {
	width: calc(100% + var(--right-sc-hide));
}
.selection div.menu-entry {
	margin-right: var(--right-sc-hide);
}
.selection div.menu-entry:first-child {margin-top: 50%;}
.selection div.menu-entry:last-child {margin-bottom: 50%;}

/* mods display in header */
#mods-display-c {
    position: absolute;
    right: var(--header-padding);
}
.mods-view img {
    vertical-align: top;
}

/* intro sequence */
:root {
    --intro-animation-duration: 0.5s;
    --intro-animation-timingfn: ease-out;
}
#intro-overlay {
	background: #000;
	opacity: 0;
	z-index: 3;
	transition: opacity var(--intro-animation-duration) var(--intro-animation-timingfn);
}
body.intro #intro-overlay {
    opacity: 1;
}
#intro-slider {
    top: calc(var(--height) * var(--playfield-top));
    height: calc(var(--height) * var(--playfield-height));
	left: 100%;
    width: 100%;
    position: absolute;
    background: var(--playfield-cover-color);
    z-index: 5;
    text-align: center;
    overflow: hidden;
	transform: translatex(0);
	transition: transform var(--intro-animation-duration) var(--intro-animation-timingfn);
	
}
#intro-slider-text {width: 100%;}
#intro-slider-text > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#intro-slider-artist {font-size: 12px}

body.intro #intro-slider {
    display: unset;
    transform: translatex(-100%);
}