:root {
    --song-info-height: 0.28;
	--not-song-list-background: var(--background-color-o50);
}

#main-screen {position: relative}

/* background */
#song-background-container {
	z-index: -6;
	background-color: #fff;
	--blur: 4px;
}
#song-background-overlay {
	z-index: -1;
	background: #000;
	opacity: 0.6;
}
#song-background {
	z-index: -2;
}

.song-background {
	z-index: -3;
	object-fit: cover;
	filter: blur(var(--blur));
	width: calc(100% + (var(--blur) * 2));
	height: calc(100% + (var(--blur) * 2));
	opacity: 0;
}
@keyframes song-background-fade-in {
	from {opacity: 0}
	to {opacity: 1}
}
.song-background.song-background-fade-in {
	animation-name: song-background-fade-in;
	animation-timing-function: ease-out;
	animation-duration: 0.75s;
	animation-direction: forwards;
	opacity: 1;
}

#screen:not(.optionsMenuShowing) #navbar,
.header.header-in-the-background {
	background-color: var(--not-song-list-background);
}
.header-in-the-background {
	position: absolute;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.header:not(.header-in-the-background) {
	background-color: unset;
}

/* song info */
#song-info {
    height: calc((var(--height) - var(--header-height) - var(--navbar-height)) * var(--song-info-height));
    position: relative;
    font-size: 12px;
	background-color: var(--not-song-list-background);
}
#song-info > div {
    white-space: nowrap;
    overflow: hidden;
}
.song-info-text {
	padding: 0 3%;
	position: relative;
}
.song-info-text::before {
	left: 0;
	--bg-rot: 90deg;
}
.song-info-text::after {
	right: 0;
	--bg-rot: -90deg;
}
.song-info-text > span {
	display: inline-block;
}
#song-info-title {font-size: 16px;}
#song-info-img-container {
    height: calc((var(--height) - var(--header-height) - var(--navbar-height)) * var(--song-info-height));
    width: calc((var(--height) - var(--header-height) - var(--navbar-height)) * (var(--song-info-height) * 1.25));
    position: relative;
    float: left;
	/* padding-right: 3%; */
}
#song-info-img {
    object-fit: cover;
}
#song-info-img-throbber {
    z-index: -1;
}
#song-info-misc img {
	height: 11px;
}
#song-info-misc > span:not(.last) {margin-right: 5px}

/* song select */
#song-select-list {
	position: relative;
	z-index: 0;
	--entry-box-height: 24px;
}
#song-select-list > .menu > div.menu-entry {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height: var(--entry-box-height);
}
#song-select-list > .menu > div.menu-entry:focus {
	background: unset;
}
.random-select-animation-playing #song-select-list div.menu-entry:focus {
	opacity: 0;
}

    /* an underlay */
#song-select-list > div.select-underlay {
	width: 100%;
	height: var(--entry-box-height);
	background: linear-gradient(90deg, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0) 100%);
	margin: unset;
	position: absolute;
	width: calc(100% - (var(--mePadding) * 2));
	white-space: nowrap;
	text-overflow: ellipsis;
}

#song-select-list > .menu > .menu-entry.menu-seperator::before {
	content: "";
	--size: 12px;
	width: var(--size);
	height: var(--size);
	background-image: url('/img/folder.png');
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
}

/* song difficulty */
.difficulty {
    --left-border-size: 5px;
    border-left-width: var(--left-border-size);
    border-left-style: solid;
    border-left-color: var(--diff-color);
    position: relative;
    /* width: calc(100% - var(--left-border-size)); */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}
.difficulty::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	opacity: 0.45;
}
.difficulty:focus {background: none;}
.difficulty:focus::before {background: linear-gradient(90deg, var(--diff-color) 0%, rgba(0,0,0,0) 100%);}
.difficulty-indicator {
    text-align: right;
}

/* the title screen */
#title-screen {
	width: 100%;
}
#title-screen > .menu > .menu-entry:focus {
	background-color: rgba(255,255,255,0.35);
}
#title-screen-title-space {margin-bottom: 5px;}
#title-screen-title {font-size: 28px;}
#title-screen-subtitle {font-style: italic;}

#title-screen-header {font-size: 10px;}

/* list for selecting stuff */
.selection {
    height: calc((var(--height) - var(--header-height) - var(--navbar-height)) * (1 - var(--song-info-height)));
	overflow-x: hidden;
    position: relative;
	
	--right-sc-hide: 50vw;
}
.selection div.menu {
	width: calc(100% + var(--right-sc-hide));
}
.selection div.menu-entry {
	margin-right: var(--right-sc-hide);
}
.selection div.menu-entry:first-child {margin-top: 50%;}
.selection div.menu-entry:last-child {margin-bottom: 50%;}

/* mods display in header */
#mods-display-c {
    position: absolute;
    right: var(--header-padding);
}
.mods-view img {
    vertical-align: top;
}

/* sort and group indicator */
#group-sort-indicator {
	--spacing: 5px;
	padding: 0 var(--spacing) 2px;
	--content-font-size: 12px;
	line-height: 1.2;
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	background-color: var(--not-song-list-background);
	z-index: 1;
}
#group-sort-indicator > div.entry:not(:last-child) {
	margin-right: calc(var(--spacing) * 2);
}
#group-sort-indicator > div.entry > img {
	margin-right: var(--spacing);
	height: var(--content-font-size);
	vertical-align: middle;
}
#group-sort-indicator > div.entry > span {
	font-size: var(--content-font-size);
}

/* intro sequence */
:root {
    --intro-animation-duration: 0.5s;
    --intro-animation-timingfn: ease-out;
}
#intro-overlay {
	background: #000;
	opacity: 0;
	z-index: 3;
}
body.intro-first-played #intro-overlay {
	/* to prevent the box from appearing when the page first loads */
	transition: opacity var(--intro-animation-duration) var(--intro-animation-timingfn);
}
body.intro #intro-overlay {
    opacity: 1;
}
#intro-slider {
    z-index: 5;
	transform: translatex(0);
	transition: transform var(--intro-animation-duration) var(--intro-animation-timingfn);
	left: 100%;
}
body.intro #intro-slider {
    display: unset;
    transform: translatex(-100%);
}