body {
	margin: 0;
	overflow: hidden;
	background: var(--background-color);
	color: var(--text-color);
	font-family: 'open sans','noto sans',sans-serif;
	
	--height: 100vh;
	--width: 100vw;
}

iframe {
	background-color: transparent;
	border: none;
}
body.loading iframe {
	opacity: 0;
}

#loading-display {
	bottom: 5px;
	right: 5px;
	position: absolute;
	display: none;
}
body.loading #loading-display {
	display: unset;
}